.idea
.vscode

*.DS_Store
*.Rhistory

bin/**

config/params/**

data/source/private/**
data/source/libraries/**
data/interim/**
data/processed/**
.Rproj.user
docs
.Rhistory
.Rdata
.httr-oauth
.DS_Store
