.DS_Store
.httr-oauth
.idea
.future
.Rprofile
.Rproj.user
.Rhistory
.Rdata
.vscode

docs
renv
megalinter-reports
pkg.lock

data
_targets
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
.quarto
inst/python/__pycache__/*
vignettes/*.html
vignettes/*.pdf
vignettes/articles/*_files$
