---
# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions: read-all

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - os: macos-latest
            r: release
          - os: windows-latest
            r: release
          - os: ubuntu-latest
            r: devel
            http-user-agent: release
          - os: ubuntu-latest
            r: release

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: true
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          pak-version: devel # See https://github.com/r-lib/actions/issues/559

      # - name: Additional step for tests to run
      # run: |
      # cp -R inst tests/testthat/inst

      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--as-cran", "--ignore-vignettes","--no-manual","--no-examples","--no-tests")'
          build_args: 'c("--no-build-vignettes", "--no-manual")'
          error-on: '"error"'
          upload-snapshots: true
