name: External Use

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  tima-test:
    name: tima-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup-conda
        uses: s-weigand/setup-conda@v1.0.7
        with:
          update-conda: true
          conda-channels: conda-forge, bioconda, defaults    
      - name: Install dependencies
        run: |
          conda env create -q --file environment.yml
      - name: Install Windows specific dependencies
        if: matrix.os == 'windows-latest'
        run: |
          choco install gzip
          choco install unzip
          choco install wget
      - name: Run tests
        run: |
          bash tests/integration_test.sh
